{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "tailwindFunctions": ["clsx", "cn", "cva"]
}
